<p id="notice"><%= notice %></p>
<div class="group-show">



<h2>
  Wellcome <%= @user.email %>.
</h2>

<p>

  To:<%= @group.checkin.location_name %>
</p>

<p>
In: <%= @group.group_name %>group.
</p>
<br>
<%= render '/grouping_tables/form' %>
<br>

<a href="#" onclick="grouping_tables_join(event)" class="grouping_tables_join">
  <div class='join-circle'>
  </div>
 </a>

</div>
<br><br>
<%= link_to 'Edit', edit_checkin_group_path(@checkin, @group) %>
<%= link_to 'Back', checkin_groups_path(@checkin) %>
<%= link_to 'Back Home', root_path %>
