<p id="notice"><%= notice %></p>
<div class="group-show">



<h2>
  Wellcome <%= @user.email %>.
</h2>

<p>

  To:<%= @group.checkin.location_name %> group.
</p>

<p>
In: <%= @group.group_name %>
</p>

<%= link_to(new_checkin_group_grouping_table_path(@checkin, @group)) do %>
<div class='join-circle'>
</div>
<% end %>
</div>
<br><br>
<%= link_to 'Edit', edit_checkin_group_path(@checkin, @group) %>
<%= link_to 'Back', checkin_groups_path(@checkin) %>
<%= link_to 'Back Home', root_path %>
