<h1>Pages#home</h1>
<%= current_user.id %>|
<%= current_user.checkin_id %>|
<%= current_user.group_id %>.
<br><br><br>

<%= link_to 'checkin to locations', checkins_path%>
<br><br><br>
<%= link_to 'Group Img Library', pages_groups_path%>
