<%= form_for @camara, html:{multipart: true} do |f| %>
  <% if @camara.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camara.errors.count, "error") %> prohibited this camara from being saved:</h2>

      <ul>
      <% @camara.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :img %><br>
    <%= f.file_field :img, class:"img_up", accept:"image/*;capture=camera" %>
  </div>

  <div class="actions">
    <%= f.submit '', class:'img_up_sub' %>
  </div>
<% end %>
