<p id="notice"><%= notice %></p>

<h1>Listing Camaras</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Img:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @camaras.each do |camara| %>
      <tr>
        <td><%= camara.title %></td>
        <td><%= image_tag camara.img.url(:thumb) %></td>
        <td><%= link_to 'Show', camara %></td>
        <% if camara.user == current_user %>
        <td><%= link_to 'Edit', edit_camara_path(camara) %></td>
        <td><%= link_to 'Destroy', camara, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Camara', new_camara_path %>
