




<p id="notice"><%= notice %></p>



<div class="img_container">

<% if current_user.group_id != nil %>
  <br>
    <% @camaras.each do |camara| %>

      <% if camara.group_id == current_user.group_id %>
        <div class="buttons">
          <div class="butFrame">
            <%= image_tag camara.img.url(:thumb), class:"index_img" %>
            <div class="hover">
              <% if camara.reviews.last == nil %>
                <%=link_to "Add Comment", camara, class: "last_comment"%>
              <%else%>
                <%=link_to "#{camara.reviews.last.comment}", camara, class: "last_comment"%>
              <%end%>
            </div>
          </div>
        </div>



      <% end %>
    <% end %>
    <div class="menu_fotter_index_camara">
      <%= link_to 'Back Home', root_path, class:"left_button", id:"camara_index" %>
      <%= link_to 'Group info', checkin_group_path(current_user.checkin_id, current_user.group_id),class:"right_button", id:"camara_index" %>
      <a href="#" onclick="camara_action(event)" class="camara_action">  <i class="fa fa-camera"></i> </a>
      <%= render 'form' %>
    </div>
  <%else%>
    <h1>Must Join Group to view Images</h1>
    <br>
    <%= link_to 'Back Home', root_path %>
  <% end %>
</div>

<br>
