




<p id="notice"><%= notice %></p>
<%= current_user.id %>|
<%= current_user.checkin_id %>|
<%= current_user.group_id %>.


<div class="img_container">

<% if current_user.group_id != nil %>
  <%= link_to 'New Image', new_camara_path %>| <%= link_to 'Group info', checkin_group_path(current_user.checkin_id, current_user.group_id) %>
  <br>
    <% @camaras.each do |camara| %>

      <% if camara.group_id == current_user.group_id %>
        <div class="buttons">
          <div class="butFrame">
            <%= image_tag camara.img.url(:thumb), class:"index_img" %>
            <div class="hover">
              <% if camara.reviews.last == nil %>
                <%=link_to "Add Comment", camara, class: "last_comment"%>
              <%else%>
                <%=link_to "#{camara.reviews.last.comment}", camara, class: "last_comment"%>
              <%end%>
            </div>
          </div>
        </div>



      <% end %>
    <% end %>
  <%else%>
    <h1>Must Join Group to view Images</h1>
    <br>
    <%= link_to 'Back Home', root_path %>
  <% end %>
</div>

<br>
