<p id="notice"><%= notice %></p>



<div class="img_container">


    <% @camaras.each do |camara| %>
    <div id="buttons">
      <div class="butFrame">
        <%= image_tag camara.img.url(:thumb), class:"index_img" %>
        <div class="hover">
        <% if camara.reviews.last == nil %>
        <%=link_to "Add Comment", camara, class: "last_comment"%>
        <%else%>
          <%=link_to "#{camara.reviews.last.comment}", camara, class: "last_comment"%>
        <%end%>
      </div>
    </div>
  </div>



    <% end %>
</div>

<br>

<%= link_to 'New Camara', new_camara_path %>
