<p id="notice"><%= notice %></p>




<h1>Listing Checkins</h1>



    <% @checkins.each do |checkin| %>

      <h2>  <%= link_to checkin do%>
        <%= checkin.user_id %>
        <%= checkin.location_name %>
        <%= checkin.active %></h2>
        <% end %>
        <br>
    <% end %>


<br>

<%= link_to 'New Checkin', new_checkin_path, class:"center-button-link" %>
<%= link_to 'Home', root_path, class:"right" %>
