<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @checkin.user_id %>
</p>

<p>
  <strong>Location name:</strong>
  <%= @checkin.location_name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @checkin.active %>
</p>
<% if current_user.checkin_id != @checkin.id %>
  <%= button_to 'Join This Location', join_checkin_path(@checkin) %>
<% end %>
<br>

<%= %>
<% if current_user.checkin_id == @checkin.id %>
  <% @users.each do |user| %>
    <% if user.checkin_id == @checkin.id%>
      <strong>email:</strong>
      <%= user.email %>
      <br>
    <% end %>
  <% end %>
<% end %>
<%= link_to 'Edit', edit_checkin_path(@checkin) %> |
<%= link_to 'Back', checkins_path %>
